  <div class="col-sm-6 col-md-8">
     <form class="form-signin" name="login" ng-submit="Authenticate()">
        <fieldset>

            <!-- Form Name -->
            <legend>Login</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>  
              <div class="col-md-5">
              <input id="email" name="email" ng-model="email" type="email" placeholder="john.smith@mail.com" class="form-control input-md" required="">
               <p class="help-block" ng-show="login.email.$dirty && login.email.$invalid">Please enter a proper email</p>
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label"  for="password">Password</label>
              <div class="col-md-5">
                <input id="password" ng-model="password" name="password" type="password" placeholder="Password (from 8 to 15 char)" class="form-control input-md" maxlength="15" required="">
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nextbutton"></label>
              <div class="col-md-5">
                <button id="nextbutton"  ng-model="submit" ng-disabled="!formValidated || login.email.$invalid" name="loginButton" class="btn btn-primary" type="submit">Login</button>
                <a class="text muted pull-right" ui-sref="register">Create account</a>
              </div>
            </div>

        </fieldset>
       
    </form>
  </div>
