<div class="col-sm-6 col-md-8" ng-hide="stage1">
    <form ng-submit="next()" name = "register" class="form-signin" novalidate>
        <fieldset>

            <!-- Form Name -->
            <legend>Register (1/2)</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>  
              <div class="col-md-5">
              <input id="email" name="email" ng-model="email" type="email" placeholder="john.smith@mail.com" class="form-control input-md" required="">
              <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a proper email</p>
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Password</label>
              <div class="col-md-5">
                <input id="password" name="password" ng-model="password" type="password" placeholder="Password (from 8 to 15 char)" class="form-control input-md" maxlength="15" required="">

              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password_confirm">Password Confirmation</label>
              <div class="col-md-5">
                <input id="password_confirm" ng-model="password_confirm" name="password_confirm" type="password" placeholder="Confirm please" class="form-control input-md" maxlength="15" required>
                <p class="help-block" ng-show="!passwordOK">Please match the passwords</p>
              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nextbutton"></label>
              <div class="col-md-4">
                <button ng-disabled="register.$invalid || !formValidated || register.email.$invalid" id="nextbutton" name="nextbutton" class="btn btn-primary" type="submit">Next</button>
              </div>
            </div>

        </fieldset>
    </form>

</div>

<div class="col-sm-6 col-md-8" ng-show="stage1">
  <form class="form-horizontal"  name = "register2"  ng-submit="register()">
    <fieldset>

    <!-- Form Name -->
    <legend>Register (2/2)</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="firstname">First Name</label>  
      <div class="col-md-4">
      <input id="firstname" name="firstname" ng-model="firstname" type="text" placeholder="John" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="lastname">Last Name</label>  
      <div class="col-md-4">
      <input id="lastname" name="lastname" ng-model="lastname" type="text" placeholder="Smith" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="phone">Phone</label>  
      <div class="col-md-4">
      <input id="phone" name="phone" ng-model="phone" type="text" placeholder="123456789" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="address">Address</label>
      <div class="col-md-4">                     
        <textarea class="form-control" ng-model="address" id="address" name="address">Street, postcode, city</textarea>
      </div>
    </div>

   <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button1id"></label>
      <div class="col-md-8">
        <button id="button1id" name="button1id" class="btn btn-primary" ng-click="previous()">Previous</button>
        <button id="button2id" name="button2id" class="btn btn-inverse"  ng-model="submit" type="submit">Submit</button>
      </div>
    </div>

    </fieldset>
    </form>

</div>