<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>Subscriptions</h2>
            </br>

            <table class="table table-condensed table-hover table-bordered">
                <h4>Available</h4>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="channel in channels">
                        <td>{{channel.Name}}</td>
                        <td>{{channel.Description}}
                            <span ng-show="channel.Premium" class="label label-info pull-right"> Premium</span>
                        </td>
                        <td>
                            <button ng-show="channel.Subscribed" id="disable" ng-disabled="isupdating" name="disable" class="btn btn-xs btn-inverse" ng-click="changeStatus(channel.idnum)"><span class="glyphicon glyphicon-ban-circle"></span> Unsubscribe</button>
                            <button ng-show="!channel.Subscribed" id="enable" ng-disabled="isupdating" name="enable" class="btn btn-xs btn-success" ng-click="changeStatus(channel.idnum)"><span class="glyphicon glyphicon-ok-circle"></span> Subscribe</button>
                            <button ng-show="channel.Subscribed && !channel.details" id="enable" ng-disabled="isupdating" name="enable" class="btn btn-xs btn-info pull-right" ng-click="seeDetails(channel.idnum)"><span class="glyphicon glyphicon-zoom-in"></span> Subscription Details</button>
                            <button ng-show="channel.Subscribed && channel.details" id="enable" ng-disabled="isupdating" name="enable" class="btn btn-xs btn-inverse pull-right" ng-click="seeDetails(channel.idnum)"><span class="glyphicon glyphicon-zoom-out"></span> Subscription Details</button>

                            <div class="panel panel-default animated" ng-class="{'bounceIn':channel.details, 'bounceOut':!channel.details}">
                                <div class="panel-heading">
                                    <div class="panel-title"> Subscription: {{channel.Subscription.ContractNumber}} </div>
                                </div>
                                <div class="panel-body">
                                    Valid from {{channel.Subscription.StartDate}} to {{channel.Subscription.EndDate}}
                                    <br/> {{channel.Subscription.Description}}
                                </div>

                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>